/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Magnolia";
  src: url("../assets/fonts/magnolia_sky.otf");
}
@font-face {
  font-family: "Unicod-R";
  src: url("../assets/fonts/Unicod-Regular.otf");
}
@font-face {
  font-family: "Unicod-M";
  src: url("../assets/fonts/Unicod-Medium.otf");
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #ededee;
  font-family: "Unicod-R", sans-serif;
  font-size: 100%;
  line-height: 1.2;
}

h1, h2, .text--special {
  color: #58595b;
  font-family: "Magnolia", cursive;
}

h3, h6, .button, .text--important {
  font-family: "Unicod-M", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h1, .large {
  font-size: 58px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
}

h5 {
  font-family: "Unicod-M", sans-serif;
  font-size: 1.125em;
  text-align: center;
}

small, .small {
  font-size: 0.875em;
}

.uppercase {
  text-transform: uppercase;
}

.site {
  min-width: 215px;
  overflow: hidden;
}

.text-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 3%;
}

.button-container {
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

.button-border {
  border: 2px solid #fff;
  display: inline-block;
  padding: 0.35rem;
}

.button {
  background-color: #f2b6ac;
  color: #fff;
  display: inline-block;
  font-size: 1.3125em;
  padding: 0.25em;
}

header {
  padding: 1em 0 0;
}
header .text-container--inner > .quote {
  display: none;
}
header .left {
  position: relative;
}
header .left > .quotemark-container {
  position: relative;
}
header .left > .quotemark-container .quote {
  display: block;
  width: 43%;
}
header .left > .quotemark-container .logo {
  position: absolute;
  right: 0;
  top: 10%;
  width: 60%;
  z-index: 2;
}
header .left > .tagline-container {
  line-height: 1;
  margin: 0 auto;
  max-width: 230px;
  padding: 1.15em 0 1em;
  position: relative;
  text-align: center;
  width: 100%;
}
header .left > .tagline-container .large {
  left: 3%;
  position: absolute;
  top: 0;
}
header .left > .tagline-container h2:nth-child(2) {
  padding: 2.75em 0 3.35em;
}
header .left > .tagline-container h1 {
  bottom: 0.25em;
  left: 18%;
  position: absolute;
}
header .right {
  position: relative;
  text-align: center;
}
header .right .logo {
  display: none;
}
header .right .image-container {
  padding: 1em 0 15%;
}
header .right .bokashi-set {
  display: block;
  margin: 0 auto;
  max-width: 390px;
  width: 100%;
}
header .right .donna-logo {
  display: block;
  margin: 0 auto;
  max-width: 105px;
  position: relative;
  width: 40%;
  z-index: 2;
}
header .right .quote {
  max-width: 43%;
  position: absolute;
  right: 0;
  bottom: -1.75em;
}
header .button-container {
  padding: 2em 0 1em;
  position: relative;
}
header .button {
  font-size: 1.5em;
}

main section:first-child {
  position: relative;
}
main section:first-child .ribbon {
  height: 50%;
  min-width: 100%;
  max-width: 300%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(25%, 10%);
  -ms-transform: translate(25%, 10%);
  transform: translate(25%, 10%);
}
main section:first-child .text-container {
  font-size: 1.125em;
  position: relative;
}
main section:first-child .opis {
  text-align: center;
}
main section:first-child .opis h3 {
  padding: 0.5em 0 1em;
}
main section:first-child .opis p {
  padding: 0 0 0.75em;
}
main section:first-child .left {
  text-align: center;
}
main section:first-child .left img {
  max-width: 240px;
  width: 100%;
}
main section:first-child .right ul {
  margin: 0 auto;
  max-width: 18em;
  padding: 0.5em;
}
main section:first-child .right ul li {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  margin: 0.75em 0;
}
main section:first-child .right ul li img {
  padding: 2px;
  width: 42px;
}
main section:first-child .right ul li span {
  font-size: 1.2em;
  padding-left: 0.5em;
}
main section:nth-child(2) {
  position: relative;
}
main section:nth-child(2) header {
  border-bottom: 1px solid #000;
  text-align: center;
}
main section:nth-child(2) header h5 {
  padding: 0.25em 0 1em;
}
main section:nth-child(2) header p {
  align-items: top;
  display: flex;
  padding: 0 0 0.5em;
  text-align: left;
}
main section:nth-child(2) header p span:first-child {
  padding-right: 5px;
}
main section:nth-child(2) header img {
  max-width: 300px;
  width: 100%;
}
main section:nth-child(2) .paragraph-container {
  padding-bottom: 0.5em;
}
main section:nth-child(2) .paragraph-container p:first-child {
  padding: 1em 0;
}
main section:nth-child(2) .button-container .button {
  padding: 0.25rem 1em;
}
main section:nth-child(2) .set--1--desktop {
  display: none;
}
main section:nth-child(3) {
  padding: 0 0 0.75em;
}
main section:nth-child(3) .text-container--inner {
  padding: 2.5em 8% 1.5em;
  position: relative;
}
main section:nth-child(3) .text-container--inner .quote {
  max-width: 85px;
  position: absolute;
  width: 33%;
}
main section:nth-child(3) .text-container--inner .quote--start {
  left: 0;
  top: 0;
}
main section:nth-child(3) .text-container--inner .quote--end {
  bottom: 0;
  right: 0;
}
main section:nth-child(3) .text-container--inner p {
  position: relative;
}
main section:nth-child(4) {
  background-color: #d7a5a5;
  color: #fff;
  text-align: center;
}
main section:nth-child(4) h4 {
  line-height: 1;
  padding: 0.85em 0;
}
main section:nth-child(5) {
  padding: 0.25em 0;
  text-align: center;
}
main section:nth-child(5) .text-container {
  max-width: 740px;
}
main section:nth-child(5) .text-container--inner {
  margin: auto;
  max-width: 370px;
}
main section:nth-child(5) h3 {
  padding: 1em 0;
}
main section:nth-child(5) h3.desktop {
  display: none;
}
main section:nth-child(5) .image-container {
  padding: 0.5em;
}
main section:nth-child(5) #ebook {
  box-shadow: 2px 2px 4px #000000cc;
  display: block;
  margin: 0 auto;
}
main section:nth-child(5) .button {
  font-size: 1.5em;
}

footer {
  background-color: #fefaf7;
  background-image: url("../assets/images/woman-gardening.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 350px) {
  header .left > .tagline-container {
    max-width: 320px;
  }
  header .left > .tagline-container .large {
    font-size: 78px;
  }
  header .left > .tagline-container h2:nth-child(2) {
    font-size: 36px;
  }
  header .left > .tagline-container h1 {
    font-size: 80px;
  }

  main section:first-child .ribbon {
    -webkit-transform: translate(20%, 10%);
    -ms-transform: translate(20%, 10%);
    transform: translate(20%, 10%);
  }
}
@media screen and (min-width: 410px) {
  main section:first-child .ribbon {
    height: 105%;
    top: 0;
    -webkit-transform: translate(25%, 8%);
    -ms-transform: translate(25%, 8%);
    transform: translate(25%, 8%);
  }
  main section:first-child .text-container {
    font-size: 1.25em;
  }
  main section:first-child .opis h3 {
    padding: 1.25em 0 1.5em;
  }
  main section:first-child .flex-container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
  }
  main section:first-child .left {
    max-width: 330px;
    width: 42%;
  }
  main section:first-child .right {
    width: 58%;
  }
  main section:nth-child(2) header div {
    display: inline-block;
    vertical-align: bottom;
    width: 60%;
  }
  main section:nth-child(2) header h5 {
    font-size: 1.25em;
    text-align: left;
  }
  main section:nth-child(2) header img {
    display: inline-block;
    vertical-align: bottom;
    width: 40%;
  }
  main section:nth-child(3) {
    font-size: 1.1em;
  }
  main section:nth-child(4) h4 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 490px) {
  header .flex-container {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  header .left {
    max-width: 300px;
    width: 100%;
  }
  header .left > .quotemark-container .quote {
    width: 129px;
  }
  header .left > .quotemark-container .logo {
    display: none;
  }
  header .right {
    max-width: 135px;
    width: 100%;
  }
  header .right .logo {
    float: right;
    display: block;
    max-width: 390px;
    width: 180%;
  }
  header .right .image-container {
    clear: both;
    padding: 3em 0 15%;
    width: 100%;
  }
  header .right .donna-logo {
    max-width: 105px;
    width: 100%;
  }
  header .right .quote {
    max-width: 100%;
    width: 129px;
    bottom: -3.75em;
  }

  main section:first-child .opis h3 {
    font-size: 1.625em;
  }
  main section:nth-child(2) {
    font-size: 1.125em;
  }
  main section:nth-child(2) header {
    font-size: 1em;
  }
  main section:nth-child(3) {
    font-size: 1.1875em;
  }
  main section:nth-child(4) h4 {
    font-size: 1.6875em;
  }
}
@media screen and (min-width: 575px) {
  header .text-container--inner {
    position: relative;
  }
  header .text-container--inner > .quote {
    display: block;
    position: absolute;
  }
  header .text-container--inner .quote--start {
    left: 0;
    top: 0;
  }
  header .text-container--inner .quote--end {
    right: 0;
    top: 90%;
  }
  header .left > .quotemark-container .quote {
    opacity: 0;
  }
  header .right .quote {
    opacity: 0;
  }

  main section:first-child .text-container {
    font-size: 1.25em;
  }
  main section:nth-child(2) .text-container--inner--1, main section:nth-child(2) .text-container--inner--2 {
    padding: 0 8%;
  }
  main section:nth-child(4) h4 {
    font-size: 2em;
  }
  main section:nth-child(5) .flex-container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  main section:nth-child(5) .text-container--inner {
    width: 50%;
  }
  main section:nth-child(5) h3 {
    padding: 1em 0;
  }
  main section:nth-child(5) h3.mobile {
    display: none;
  }
  main section:nth-child(5) h3.desktop {
    display: block;
  }
  main section:nth-child(5) #ebook {
    margin: 0 auto 0.5em;
  }
  main section:nth-child(5) .button {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 640px) {
  header .right {
    max-width: 220px;
  }
  header .right .logo {
    max-width: 390px;
    width: 130%;
  }
  header .right .donna-logo {
    max-width: 120px;
    width: 100%;
  }

  main section:first-child .ribbon {
    height: 110%;
    min-width: 130%;
    -webkit-transform: translate(20%, 5%);
    -ms-transform: translate(20%, 5%);
    transform: translate(20%, 5%);
  }
  main section:first-child .left img {
    max-width: 310px;
  }
  main section:first-child .right ul {
    margin: 0 auto;
    max-width: 100%;
    padding: 0.5em;
  }
  main section:first-child .right ul li {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    margin: 0.75em 0;
  }
  main section:first-child .right ul li img {
    padding: 2px;
    width: 42px;
  }
  main section:first-child .right ul li span {
    font-size: 1.2em;
    padding-left: 0.5em;
  }
}
@media screen and (min-width: 690px) {
  main section:nth-child(4) h4 {
    font-size: 2.4em;
  }
}
@media screen and (min-width: 745px) {
  main section:nth-child(2) .text-container--inner--1 {
    margin-bottom: 1em;
  }
  main section:nth-child(2) .text-container--inner--2 {
    clear: both;
    padding: 0;
  }
  main section:nth-child(2) .flex-container {
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-flex;
    display: flex;
  }
  main section:nth-child(2) .flex-container .left {
    padding-right: 1em;
    width: 50%;
  }
  main section:nth-child(2) .flex-container .right {
    padding-left: 1em;
    width: 50%;
  }
  main section:nth-child(2) .flex-container .paragraph-container {
    min-height: 12.875em;
  }
  main section:nth-child(3) {
    padding: 1.5em 0 1em;
  }
}
@media screen and (min-width: 800px) {
  header .left {
    max-width: 350px;
  }
  header .left > .tagline-container {
    max-width: 340px;
  }
  header .left > .tagline-container .large {
    font-size: 92px;
  }
  header .left > .tagline-container h2:nth-child(2) {
    font-size: 44px;
  }
  header .left > .tagline-container h1 {
    font-size: 95px;
  }
}
@media screen and (min-width: 910px) {
  main section:first-child .text-container {
    font-size: 1.5em;
  }
  main section:nth-child(4) h4 {
    font-size: 2.875em;
  }
}
@media screen and (min-width: 1125px) {
  header .flex-container {
    -webkit-justify-content: center;
    justify-content: center;
  }
  header .left {
    max-width: 500px;
  }
  header .left > .tagline-container {
    max-width: 480px;
  }
  header .left > .tagline-container .large {
    font-size: 120px;
  }
  header .left > .tagline-container h2:nth-child(2) {
    font-size: 58px;
  }
  header .left > .tagline-container h1 {
    font-size: 125px;
  }
  header .right {
    max-width: 350px;
  }
  header .right .logo {
    max-width: 350px;
  }
  header .right .image-container {
    padding: 6em 0 15%;
  }
  header .right .donna-logo {
    max-width: 130px;
  }

  main section:first-child .ribbon {
    height: 120%;
    min-width: 120%;
    -webkit-transform: translate(15%, 5%);
    -ms-transform: translate(15%, 5%);
    transform: translate(15%, 5%);
  }
}

/*# sourceMappingURL=style.css.map */
